# ─── Base de données ───────────────────────────────
POSTGRES_USER=XXXXXX
POSTGRES_PASSWORD=XXXXXX
POSTGRES_DB=XXXXXX
POSTGRES_PORT=XXXX

# ─── API (Express + Prisma) ────────────────────────
PORT=XXXX
ALLOWED_ORIGINS="*"
DATABASE_URL=postgresql://username:password@db:port/dbname?schema=public

# ─── Frontend (Next.js) ────────────────────────────
FRONTEND_PORT=XXXX