# ─── Base de données ───────────────────────────────
POSTGRES_USER=XXXXXX        # Remplacez par le nom d'utilisateur PostgreSQL
POSTGRES_PASSWORD=XXXXXX    # Remplacez par le mot de passe PostgreSQL
POSTGRES_DB=XXXXXX          # Remplacez par le nom de votre base de données PostgreSQL
POSTGRES_PORT=5433          # Port PostgreSQL (par défaut 5432, mais peut être modifié pour éviter les conflits)

# ─── API (Express + Prisma) ────────────────────────
PORT=XXXX
ALLOWED_ORIGINS="http://localhost:XXXX, http://localhost:XXXX"   # Remplacez par les ports de votre frontend et backend
DATABASE_URL=postgresql://username:password@db:port/dbname?schema=public

# ─── Frontend (Next.js) ────────────────────────────
FRONTEND_PORT=XXXX  # Port pour le frontend Next.js (par exemple, 3000)