# ─── Base de données ───────────────────────────────
POSTGRES_USER=blablabook
POSTGRES_PASSWORD=blablabook
POSTGRES_DB=blablabookdb
POSTGRES_PORT=5433

# ─── API (Express + Prisma) ────────────────────────
PORT=3001
ALLOWED_ORIGINS="*"
DATABASE_URL=postgresql://blablabook:blablabook@db:5432/blablabookdb?schema=public

# ─── Frontend (Next.js) ────────────────────────────
FRONTEND_PORT=3000